<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta  name="description" content="Main page for the website. Allows users to input, delete, and modify their shopping list as they see fit." />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  </head>
  <body>
    {{{msg}}}
    <h1>Shopping List! Create a list!</h1>
    <form action="" id="testForm">
      <input type='text' type="submit" id='shoppingitem' placeholder="Enter shopping item here..." maxlength="50" size="50">
      <br>
      <input type='text' type="submit" id='quantity' placeholder="Enter quantity here..." maxlength="50" size="50">
      <br>
      <input type='text' type="submit" id='price' placeholder="Enter price (per singular item) here..." maxlength="50" size="50">
      <br>
      <input type="hidden" id="username" value={{{username}}}>
      <button id="submitButton">submit</button>
    </form>

    <h2>Shopping List</h2>
    {{!-- <table WIDTH="50%" id="tableShop"> 
      <thead>
        <tr>
          <td align="center"> Item </div></td>
          <td align="center"> Quantity </td>
          <td align="center"> Price (per singular item) </td>
        </tr>
      </thead>
      <tbody id="insertInfo">
      </tbody>
    </table> --}}
    <div id ="header_container"></div>

  <h3> Delete </h3>
    <form action="">
    <input type='text' type="submit" id='delete' placeholder="Enter the row of the item you want to delete..." maxlength="50" size="50">
    <br>
    <input type="hidden" id="username" value={{{username}}}>
    <button id="deleteButton">delete</button>
    </form>

  <h3> Modify </h3>
    <form action="">
    <input type='text' type="submit" id='modify' placeholder="Enter the row of the item you want to modify..." maxlength="50" size="50">
    <br>
    <input type='text' type="submit" id='shoppingitemNew' placeholder="Enter shopping item here..." maxlength="50" size="50">
    <br>
    <input type='text' type="submit" id='quantityNew' placeholder="Enter quantity here..." maxlength="50" size="50">
    <br>
    <input type='text' type="submit" id='priceNew' placeholder="Enter price (per singular item) here..." maxlength="50" size="50">
    <br>
    <input type="hidden" id="username" value={{{username}}}>
    <button id="modifyButton">modify</button>
    </form>

  <h3> Total Price: </h3>

  <div id ="convert_container"></div>  

  <h3> Rate my website: </h3>
  <div id ="rate_container"></div>
 
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>

  <script type="text/babel" src="./js/convert.jsx"></script>
  <script type="text/babel" src="./js/rate.jsx"></script>
  <script type="text/babel" src="./js/header.jsx"></script>
  </body>
  <script src="./js/scripts.js"></script>
</html>
