<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="register page for Rock Paper Scissors game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="authPage.css" />
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
	<div>
		{{#if error}}
		<p class="err-msg">Username already exists</p>
		{{/if }}
		<h1>Register</h1>
	</div>
	<div class="form-group">
		<label>Username (must be unique): </label>
		<input 
			type="text" 
			name="username" 
			id="username" 
			placeholder="Enter a username..." 
			required />
	</div>
	<div class="form-group">
		<label>Password (will be encrypted):</label>
		<input 
			type="password" 
			name="password" 
			id="password"
			placeholder="Enter a password..." 
			required />
	</div>
	<div>
		<input type="submit" value="Register" />
	</div>
    <p style="text-align:center;">Already have an account?</p>
    <div style="text-align:center">
    <a href="/login">Sign In</a>
</form>
</body>
</html>