<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4285f4">
    <meta name="description" content="Todo signup page">
    <meta name="keywords" content="todo, express, mongo">
    <title>Todo List Sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <div class="h-50 d-flex flex-column align-items-center justify-content-center">
        <h2 class="mb-4">Sign In</h2>
        <p class="text-danger" id="status-message"></p>
        <form id="loginForm" class="w-25" style="min-width: 12rem" onkeydown="return event.key != 'Enter';">
            <!-- Username input -->
            <div class="form-outline mb-4">
                <input type="text" id="loginUsername" class="form-control" />
                <label class="form-label" for="loginUsername">Username</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="loginPassword" class="form-control" />
                <label class="form-label" for="loginPassword">Password</label>
            </div>
            <button class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>
        <a href="/signup" class="link-secondary" role="button">dont have an account? create one</a>

    </div>
    <style>
        html,
        body {
            height: 100%;
            overflow: hidden;
        }
    </style>
    <script>
        const loginForm = document.getElementById('loginForm')
        const statusMSG = document.getElementById('status-message')

        loginForm.addEventListener('submit', async e => {
            e.preventDefault()

            const loginData = {
                "username": loginForm.elements['loginUsername'].value,
                "password": loginForm.elements['loginPassword'].value
            }

            const response = await fetch('/user/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(loginData)
            })

            const jsonResponse = await response.json()
            statusMSG.innerHTML = jsonResponse.message;

            if (jsonResponse.status == 'SUCCESS') {

                var now = new Date();
                var time = now.getTime();
                time += 3600 * 1000;
                now.setTime(time);

                document.cookie = `auth=${jsonResponse.username};max-age=3600`;
                window.location.replace(`/profile/${jsonResponse.username}`)
            } else {
                console.log("failure")
            }
        })



    </script>
</body>

</html>