.header {
  padding: 100px;
  text-align: center;
  background: #f1dbe1;
  color: white;
  font-size: 30px;
}/*Style your own assignment! This is fun! */

img{
  width: 130px;
  height: 80px;
  position: absolute;
  top: 160px;
  left: 70px;
}

h1{
  padding-top: 60px;
  padding-left: 70px;
  font-size: 50px;
  font-family: 'Montserrat';
  color: #363738;
}


h2{
  padding-left: 18px;
  font-family: 'Montserrat';
  color:  #75777b;
  font-weight: 200;
  font-size: 19px;
  background-color: #f1f1f2;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: -10px;
  border-radius: 8px;
}

.u-full-width{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 70px;
}

.u-full-width1{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 15px;
}


.u-full-width2{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 15px;
}

.u-full-width3{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 15px;
}

.button-primary{
   border-width: 0;
  background-color: #811731;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
 margin-bottom:60px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.button-primary:hover{
   border-width: 0;
  background-color: #e54885;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
 margin-bottom:60px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.cancel{
   border-width: 0;
  background-color: #808080;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
 margin-bottom:60px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.cancel:hover{
   border-width: 0;
  background-color: #A9A9A9;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
 margin-bottom:60px;
  font-family: 'Montserrat';
  font-size: 16px;
}

th{
  color: #000000;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding-right: 60px;
}
td{
padding-top: 20px;
  font-family: 'Montserrat';
  color: #363738;
}
table{
  margin-left: 80px;
}

.button-primary2{
   border-width: 0;
  background-color: #811731;
  color: #ffffff;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 20px;
 padding: 10px 20px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.button-primary2:hover{
   border-width: 0;
  background-color: #e54885;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
 padding: 10px 20px;
  font-family: 'Montserrat';
  font-size: 16px;
}