/*Style your own assignment! This is fun! */
.hidden{
    color:red;
}

* { box-sizing: border-box; position:relative;}

body {
  background: #a2a2c8;
  font-family: "lato", sans-serif;
  color: rgba(255,255,255,0.7);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font: 20px/3 sans-serif;
  color: white;
  opacity: 1; /* Firefox */
  
  
}


input[type = text]{
    width: 500px;
    height: 30px;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

input {
  border: 0px;
  outline: 0;
  box-shadow: 0;
  background: rgba(0,0,0,.15);
  border-bottom: 5px solid rgba(0,0,0,.05);
  width:100%;
  height:50px;
  line-height:50px;
  padding: 0 10px;
  font-size: 25px;
}


table{
    border-collapse: collapse;
    margin-top: 50px;  
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0 .1em yellow, 0 0 0.2em blue;
    color: white;
    font: 1.5em Georgia, serif;
  }


h2{
  padding-left: 18px;
  font-family: 'Montserrat';
  color:  #75777b;
  font-weight: 200;
  font-size: 19px;
  background-color: #f1f1f2;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: -10px;
  border-radius: 8px;
}

.u-full-width{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 70px;
}

.u-full-width1{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 15px;
}


.u-full-width2{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 15px;
}

.u-full-width3{
   font-family: 'Montserrat';
  padding: 13px;
  width: 140px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #75777b #75777b #75777b;
  border-style: solid;
  margin-top: 20px;
  margin-left: 15px;
}

/* CSS */
.button-52{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

#form-wrapper {
  margin-top: 80px;
  height:450px;
  transition: all 1s ease;
  overflow: hidden;
}
#form-wrapper.answering {
  height: 150px;
  overflow: hidden;
}

.question {
  width: 400px;
  margin: 0 auto;
  height: 30px;
  overflow: hidden;
}
.question, .question * {transition: all 0.3s ease;}
.question .q-back {opacity:1;}
.question label {font-size: 20px; padding-left:20px;}
.question input, .question .q-next {display: none;}
.question .q-text {height:30px;line-height:30px;}
.question .q-answer {display:inline; color: rgba(0,0,0,.8);}

.question.open {height: 90px; margin-bottom: 150px;}
.question.open label {font-size: 30px;}
.question.open .q-back {opacity: 0;}
.question.open input {display: block;}
.question.open .q-next {display: block;}
.question.open .q-text {height:40px;line-height:40px;}
.question.open .q-answer {display:none;}

.q-next {
  display: block;
  position: absolute;
  bottom: 5px;
  right:0px;
  padding: 0 10px;
  height: 45px;
  line-height:45px;
  text-align:center;
  font-size: 30px;
  cursor: pointer;
} .q-next:hover {background: rgba(255,255,255,.1);}

.q-back {
  position:absolute;
  top:0px;
  left:0px;
  color:rgba(0,0,0,.8);
  width: 100%;
  cursor: pointer;
  font-size:20px;
  line-height: 30px;
  padding-left: 4px;
} .q-back:hover {background: rgba(255,255,255,.1);}

.q-text {
  max-height: 40px;
  overflow:hidden;
  display:block;
}

label {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}


.q-title {
  text-align: center;
  line-height: 150px;
  font-size: 40px;
  font-weight: bold;
}

.q-after {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
.q-confirm-text {
  font-size: 20px;
  padding: 20px 0;
}
.q-confirm-button {
  transition: all 0.3s ease;
  display: block;
  padding: 0 10px;
  padding-left: 50px;
  height: 40px;
  line-height:40px;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  background: rgba(255,255,255,.3);
  text-transform: uppercase;
  color: white;
} .q-confirm-button:hover {background: rgba(255,255,255,.1);}
.q-confirm-button:before {
  content: '>';
  display: block;
  position:absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 100%;
  background: rgba(255,255,255,.1);
  text-align:center;
  line-height: 40px;
  font-size: 25px;
  color: white;
}


.cancel{
   border-width: 0;
  background-color: #808080;
  color: #ffffff;
  margin-left: 15px;
  margin-top: 0px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
 margin-bottom:60px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.cancel:hover{
   border-width: 0;
  background-color: #A9A9A9;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
 margin-bottom:60px;
  font-family: 'Montserrat';
  font-size: 16px;
}

th{
  color: #000000;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding-right: 60px;
}
td{
padding-top: 20px;
  font-family: 'Montserrat';
  color: #363738;
}

.button-primary2{
   border-width: 0;
  background-color: #811731;
  color: #ffffff;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 20px;
 padding: 10px 20px;
  font-family: 'Montserrat';
  font-size: 16px;
}

.button-primary2:hover{
   border-width: 0;
  background-color: #e54885;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
 padding: 10px 20px;
  font-family: 'Montserrat';
  font-size: 16px;
}