body {
  background-color: #d9bdc5;
  color: #231b1b;
  font-family: "PT Sans Caption", sans-serif;
}
h1,
h2,
h4 {
  text-align: center;
}
h2 {
  padding: 5px;
}
.container {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr repeat(4, 100px) 1fr;
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 5px;
  grid-row-gap: 5px; 
}
.box {
  padding-left: 15px;
  padding-right: 15px;
}
.box li {
  list-style: none;
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
}
.column-label {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.add-form,
.delete-form {
  display: flex;
  justify-content: center;
}
input {
  background-color: #e3e3e3;
}
button {
  background-color: #e3e3e3;
}
#name-col {
  grid-column: 1;
}
.btn-center {
  text-align: center;
}
/* ul {
  text-align: justify-all;
} */
li {
  list-style-type: none;  
  padding-left: 0;
}