:root {
  --off-white: #FAF9F6;
  --off-black: #313639;
  --off-gray:  #e5e4e2;
}

.pure-button {
  background-color: #0066cc;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}

body {
  background-color: var(--off-gray);
  color: var(--off-black);
}

header {
  margin: 0 auto;
  max-width: 600px;
  padding: 2em 2em 0;
  border-bottom: 1px solid #eee;
}

header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

p {
  width: 90%;
  margin: 0;
  padding: 0 0.5em;
  height: 100%;
  position: absolute; 
  top: 0;
  vertical-align:top;
}

main {
  margin: 0 auto;
  padding: 2em 2em;
  max-width: 600px;
  margin-bottom: 50px;
  line-height: 1.6em;

  background-color:white;
}

#todoitem {
  width: 90%;
  height: 100%;
}

#todoitembutton {
  height: 100%;
}

li {
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.6em;
  padding: 0;
}

.pure-u-18-24 {
  position: relative;
  height: 100%;
}